* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  /* border: 1px solid red !important; */
  /* overflow-x: hidden; */
}
.ff_Segoe {
  font-family: "Segoe UI";
}
:root {
  /* -----FONT SIZE---- */
  --fs-i: 14px;
  --fs-ii: 15px;
  --fs-iii: 16px;
  --fs-iv: 17px;
  --fs-v: 20px;
  --fs-vi: 24px;
  --fs-vii: 30px;
  --fs-viii: 32px;
  --fs-ix: 40px;
  --fs-x: 42px;
  --fs-xi: 45px;
  --fs-xii: 49px;
  --fs-xiii: 60px;

  /* color */
  --clr-green: #1ad079;
}
/* colors */
.text_green {
  color: var(--clr-green) !important;
}
.bg_green {
  background-color: var(--clr-green) !important;
}
.clr_light_dark {
  color: #b5b8c4 !important;
}
/* -------FONT SIZE------- */
.fs_14 {
  font-size: var(--fs-i) !important;
}
.fs_15 {
  font-size: var(--fs-ii) !important;
}
.fs_16 {
  font-size: var(--fs-iii) !important;
}
.fs_17 {
  font-size: var(--fs-iv) !important;
}
.fs_20 {
  font-size: var(--fs-v) !important;
}
.fs_24 {
  font-size: var(--fs-vi) !important;
}
.fs_30 {
  font-size: var(--fs-vii) !important;
}
.fs_32 {
  font-size: var(--fs-viii) !important;
}
.fs_40 {
  font-size: var(--fs-ix) !important;
}
.fs_42 {
  font-size: var(--fs-x) !important;
}
.fs_45 {
  font-size: var(--fs-xi) !important;
}
.fs_49 {
  font-size: var(--fs-xii) !important;
}
.fs_60 {
  font-size: var(--fs-xiii) !important;
}
/* Nav */
.container_cus {
  max-width: 1140px !important;
  padding-left: 12px;
  padding-right: 1px;
  margin-left: auto;
  margin-right: auto;
}

.py_22 {
  padding-top: 22px;
  padding-bottom: 22px;
}
.pl_10 {
  padding-left: 10px !important;
}
.pl_84 {
  padding-left: 84px;
}
.pl_23 {
  padding-left: 23px;
}
.border_1_green {
  border: 1px solid var(--clr-green);
}
.py_20 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign_up_normal {
  border: 1px solid transparent;
}
.sign_up_green_border_hover:hover {
  border: 1px solid var(--clr-green);
}
.sign_up_green_border {
  border: 1px solid var(--clr-green);
}
.border_cus {
  border: 1px solid var(--clr-green) !important;
}
.line_hover_nav::after {
  content: "";
  position: absolute;
  background-color: var(--clr-green);
  border-radius: 4px;
  height: 3px;
  left: 50%;
  bottom: -14px;
  width: 0%;
  transition: all 0.3s ease-in-out;
}
.line_hover_nav:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: translateX(-50%);
}
.bars {
  display: block;
  width: 28px;
  height: 4px;
  background-color: var(--clr-green);
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  margin-top: 4px;
}
.show_nav {
  height: 100vh;
  left: 0;
  top: 0;
  width: -100%;
  width: 100%;
  transition: all 500ms linear;
  z-index: 100;
  padding: 50px 20px;
  position: fixed;
  background-color: #e5ecff;
}
.hide_nav {
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 500ms linear;
}
.bg_green {
  background-color: var(--clr-green) !important;
}
.on_hover:hover {
  background-color: var(--clr-green) !important;
}
.on_hover:hover a {
  color: white !important;
}
.on_hover:hover {
  color: white !important;
}
.on_hover:hover a svg path {
  fill: white !important;
}
.z_index_2 {
  z-index: 2;
}
/* Header */
.green_blue_1 {
  z-index: -1 !important;
  width: 726px;
  height: 763px;
  background: #d4f4e6;
  filter: blur(100px);
  top: -74px;
  right: 0;
}
/* Hero Section */
.bg_green {
  background: #1ad079;
}
.p_15_50 {
  padding: 15px 50px;
}
.cursor_pointer {
  cursor: pointer;
}
.fram_card_positions {
  bottom: 16px;
  left: 33%;
  height: 90px;
}
.over_view_position {
  left: 10px;
  top: 16%;
}
.search_leades_position {
  top: 17px;
  right: 5px;
}
.line_over_header {
  border: 2px solid #ced8f9 !important;
}
.blue_2 {
  width: 493px;
  height: 493px;
  left: -27px;
  bottom: -165px;
  background: rgba(139, 163, 240, 0.9);
  filter: blur(250px);
  z-index: -1;
}
/* Identify_Inherited */
.green_blur_2 {
  top: -14px;
  right: 0;
  width: 795px;
  height: 366px;
  background: #dff6ec;
  filter: blur(75px);
  z-index: -1;
}
/*  */
.bg_grey {
  background-color: #f7f7f7 !important;
}
.z_index_1 {
  z-index: 1;
}
/* WatchADemo */
.WatchADemo_bgimg {
  background-image: url("./assets/images/svg/WatchADemo_bgimg.svg");
  background-size: cover !important;
  max-width: 946px;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-top: 50px !important;
  margin-bottom: -30px !important;
}
.modal-dialog {
  max-width: 94% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}
.blure_green_3 {
  width: 726px;
  height: 763px;
  right: 21px;
  top: -79px;
  background: #d4f4e6;
  filter: blur(100px);
  z-index: -1;
}
.blure_blue_2 {
  width: 493px;
  height: 493px;
  left: 0px;
  bottom: -194px;
  background: rgba(139, 163, 240, 0.9);
  filter: blur(250px);
}
/* OurPlatform */
.mt_50 {
  margin-top: 50px;
}
/* Footer */
.bg_footer {
  background: #07133b;
  border-radius: 15px;
  max-width: 1410px;
  margin: 15px !important;
  margin-right: 0 !important;
}
.pt_22 {
  padding-top: 22px;
}
.bg_blue_light {
  background-color: #141f45;
  border-radius: 4px;
}
.border_2_white {
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.radio_force:hover {
  border-color: #149766 !important;
}
.radio_force:hover .on_force_green {
  color: #149766 !important;
}
.on_focus_bg_green:focus {
  background-color: #149766 !important;
  color: #149766 !important;
}
.hr_footer {
  opacity: 0.1;
  border: 2px solid rgba(255, 255, 255, 0.7);
  height: 0;
  max-width: 1290px;
  margin: 0 auto;
}
.submit_btn {
  background: #1ad079;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  display: flex;
}
.pos_line {
  bottom: 40%;
  left: 100%;
}
.footer_white_circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #3861eb;
  filter: blur(125px);
}
.position_set {
  top: 90px;
  right: 113px;
}
/* preloader */
.preloader {
  background: #cdd9ff;
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
}
.start {
  animation: start;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 5;
}
@keyframes start {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
  /* 50% {
    transform: scale(1.5);
  } */
}
/*OurApproach  */
.bg_dark_blue {
  background-color: #07133b;
}
.bg_light_blue {
  background-color: #141f45 !important;
}
.ms_1 {
  margin-left: 1px !important;
}
.our_approach_slider {
  background-color: #141f45;
}
.p_15_62 {
  padding: 15px 62px;
}
.p_bg_change:hover .ths_p {
  background-color: #1ad079 !important;
}
/* CloseMoreDeals */
.bg_white {
  background-color: white !important;
}
.text_light_brown {
  color: #5c5c5c !important;
}
.text_dark {
  color: #4d4d4d !important;
}
.constrained_box {
  width: 298px;
  height: 156px;
  background: #d9d9d9;
  filter: blur(200px);
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.white_arrow {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.sign_up_btn {
  padding: 12px 44px;
  border-radius: 4px;
  overflow: hidden;
  /* position: relative; */
  transition: 0.2s ease-in-out;
}
.row_cus {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-right: 12px;
}
.sign_up_btn:hover {
  box-shadow: 0 0 10px 0 #1ad079 inset, 0 0 20px 2px #1ad079;
}
/* accordion */
.accordion-button {
  background-color: #07133b !important;
  color: white !important;
  padding: 10px 10px 10px 0 !important;
  border: none !important;
}

.accordion-body {
  padding-top: 5px !important;
  border: unset !important;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: transparent !important;
  box-shadow: unset !important;
}
.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.accordion-item {
  color: white !important;
  background-color: #141f45 !important;
  border: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("./assets//images//svg/accor_open.svg") !important;
  transform: rotate(180deg) !important;
  transition: 0.2s ease-in-out !important;
}
.accordion-button::after {
  content: "";
  background-image: url("./assets//images//svg/accor_close.svg") !important;
  transform: rotate(180deg) !important;
  margin-top: -23px !important;
}
.accor_nub {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 5px !important;
}
.accor_active {
  background-color: #1ad079 !important;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  border-radius: 5px !important;
}
.container_cus_1410 {
  max-width: 1410px !important;
  margin: 0 auto !important;
}
/* SeeWhatOur */
.slider_prev_arrow {
  left: 20px;
  top: 25px;
}
.slider_next_arrow {
  right: 20px;
  top: 25px;
}
.rc_logo {
  background: #e4f9ef;
  border: 2px solid #1ad079;
  border-radius: 50% !important;
  height: 60px;
  width: 60px;
}
.getstarted_btn {
  padding: 12px 49px;
  background: #1ad079;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.l_50per_t_-40 {
  left: 50%;
  top: -40px;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .container_cus {
    max-width: 720px !important;
    padding-left: 12px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .anim_green_blue {
    animation: anim_green_blue;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes anim_green_blue {
    50% {
      transform: scale(0.5);
    }
  }
  .anima_parent:hover .anim_rotate {
    animation: anim_rotate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes anim_rotate {
    50% {
      transform: scale(0.5);
    }
  }
  .fram_card_animtion {
    animation: fram_card_animtion;
    animation-duration: 4s;
    animation-delay: 0s;
    /* animation-timing-function: linear; */
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes fram_card_animtion {
    50% {
      transform: translateX(30px);
    }
    70% {
      transform: scale(0.5);
    }
  }
  .over_view_animation {
    animation: over_view_animation;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes over_view_animation {
    50% {
      transform: translateX(30px);
    }
  }
  .search_leades_animation {
    animation: search_leades_animation;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes search_leades_animation {
    50% {
      transform: scale(1.5);
    }
  }
  .mt_-100_md {
    margin-top: 100px !important;
  }
}
.earthMap_animation {
  animation: earthMap_animation;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes earthMap_animation {
  40% {
    transform: translateY(50px);
  }
  60% {
    transform: scale(1.5);
  }
}

@media (min-width: 992px) {
  .container_cus {
    max-width: 960px !important;
    padding-left: 12px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .w_lg_60 {
    max-width: 60% !important;
  }
  .w_ld_40 {
    width: 40% !important;
  }
  .container_cus_680 {
    max-width: 680px !important;
    padding: 0 12px !important;
    margin: 0 30px 0 auto !important;
  }
}
@media (min-width: 1200px) {
  .container_cus {
    max-width: 1140px !important;
    padding-left: 12px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .dollor_card_positions_h {
    height: 340px !important;
  }
}
@media (min-width: 1440px) {
  .container_cus {
    max-width: 1140px !important;
    padding-left: 12px;
    padding-right: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  .bg_footer {
    margin: 0 auto !important;
  }
  .dollor_card_positions_h {
    height: 340px !important;
  }
}
